@import url("http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css");
@import url("http://yui.yahooapis.com/2.5.1/build/button/assets/skins/sam/button.css");
@import url("http://yui.yahooapis.com/2.5.1/build/container/assets/skins/sam/container.css");
@import url("http://yui.yahooapis.com/2.6.0/build/tabview/assets/skins/sam/tabview.css");
@import url("global.css");
@import url("cmnStylesheet.css");
@import url("skins/custom-rand-skin.css");
@import url("skins/RMControls.css");
@import url("skins/RMOverlays.css");
@import url("skins/tiles.css");
@import url("skins/viewPort.css");
@import url("http://s7.addthis.com/static/r07/widget50.css");
#toolbar {display:block!important;}

#pushpindivid0 {
	display: none;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#adlat49 {
	float: right;
	position: relative;
	width: 242px;
	height: 60px;
	z-index: 99999;
}

#adlat49 .container_img_img-h,#adlat49 .center1_img-h {
	overflow: visible;
}

.AdUnit {
	background-repeat: no-repeat;
	color: #fff;
	font-weight: 900;
	width: 32px;
	height: 32px;
	padding-top: 2px;
	padding-left: 7px;
	overflow: visible;
}

#container {
	width: 100%;
	!
	important;
}

#master_control_show_button,#master_control_hide_button {
	display: block;
	float: left;
	padding: 5px 0px 0px 5px;
}

#master_control_show_button a,
#master_control_hide_button a {
	/*background: transparent url('http://filmhoster.com/map/images/hideButton.png') no-repeat 30px 0px;
		*/
	background-image: url(images/hideButton.png);
	background-position: 100% 0px;
	background-repeat: no-repeat;
	padding-right: 20px;
}

#master_control_show_button a {
	background-image: url(images/showButton.png);
}

#map_display {
	display: table-cell;
	vertical-align: top;
}

#global-nav fieldset label{
	display:inline;
	float:none;
	font-size:1.2em;
}